.ant-input-number-lg {
    width: 100%;
}

.backArrow:hover {
    color: #00AEEF;
}

.createEmployeeRow {
    float: right;
}

.ant-form-item-label {
    font-weight: bold;
}

.createEmployeeBtn {
    margin-top: 2rem;
    margin-right: 25%;
    float: right;
    padding: 0.5rem 3rem 2rem;
    text-align: center;
}