.logo {
    float: left;
    margin: auto;
    width: 50%;
}

.layoutHeader {
    margin-bottom: 2rem;
}

.version{
    font-style: italic;
    color: rgb(177, 177, 177);
}

#content {
    background-color: #ececec;
}

#notifButton {
    border: none;
    padding: 0;
}

#notifDocName {
    font-weight: bold;
}

#notifCard {
    margin-bottom: 1rem;
}